<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>Controller.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>Controller.CategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BoxBillsController</servlet-name>
        <servlet-class>Controller.BoxBillsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BoxBilllController</servlet-name>
        <servlet-class>Controller.BoxBilllController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/ProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryController</servlet-name>
        <url-pattern>/CategoryController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>Controller.UserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BoxProductController</servlet-name>
        <servlet-class>Controller.BoxProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BoxProductController</servlet-name>
        <url-pattern>/BoxProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BoxBillController</servlet-name>
        <servlet-class>Controller.BoxBillController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BoxBillController</servlet-name>
        <url-pattern>/BoxBillController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BoxBillsController</servlet-name>
        <url-pattern>/BoxBillsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BoxBilllController</servlet-name>
        <url-pattern>/BoxBilllController</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
